<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation=" 
    
    	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd 
        
    	http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id= "noticePointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
		<property name="mappedNames">
			<list>
				<value>getNotices</value>		<!-- 특정 메소드만 나열 -->
			</list>
		</property>
	</bean>
	
	<bean id="noticeAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor"> <!-- 어떤 어드바이스와 연결 -->
		<property name="pointcut" ref="noticePointcut"></property>
		<property name="advice" ref="logBeforeAdvice"></property>
	</bean>
	
	<bean id="prince" class="com.newlecture.web.dao.mybatis.MybatisNoticeDao"/> 		 <!-- 주업무 객체 생성 -->
	<bean id="logBeforeAdvice" class="com.newlecture.web.aop.LogBeforeAdvice"/>     <!-- 보조업무 객체 생성 -->
	<bean id="logAroundAdvice" class="com.newlecture.web.aop.LogAroundAdvice"/> 	 <!-- 보조업무 객체 생성 -->
	
	<bean id="noticeDao" class="org.springframework.aop.framework.ProxyFactoryBean"> <!-- Proxy 객체 생성 -->
		<!-- Proxy 주업무, 보조업무 모두 가지고 있어야함 -->
		<property name="target" ref="prince"/> <!--  -->
		<property name="interceptorNames"> <!-- 곁다리 업무를 여러개 넣을 수있으니까 인터셉터 -->
			<list>
				<!-- <value>logBeforeAdvice</value> -->  <!-- 보조업무를 가져다가 주업무에 낌 -->
				<!-- <value>logAroundAdvice</value> -->
				<value>noticeAdvisor</value>
			</list>
		</property>
	</bean>
</beans>